
@page
@using Proyecto_01_BD.Clases;
<link rel="stylesheet" href="/css/styles.css">

@{
    // Crear una instacia de la clase CatalogoDAO
    CatalogoDAO catalogoDAO = new CatalogoDAO();

    //Obtener datos de tablas catalogo

    List<String> listaPuestos = catalogoDAO.ObtenerPuestos();
    List<String> listaDepartamentos = catalogoDAO.ObtenerDepartamentos();
    List<String> listaRoles = catalogoDAO.ObtenerRoles();
    List<String> listaModulos = catalogoDAO.ObtenerModulos();
    List<String> listaAcciones = catalogoDAO.ObtenerAcciones();

    Usuario usuario = new Usuario();

    // Crear una lista de usuarios
    List<Usuario> listaUsuarios = usuario.ObtenerUsuarios();
    // Crear una lista de roles
    List<Rol> roleUsuario = usuario.ObtenerUsuariosPorRol();


}
@functions {
    public string Mensaje { get; set; }
    Usuario usuario = new Usuario();

    public void OnPost(string action, string cedula)
    {
        if (action == "editar_salario")
        {
            Console.WriteLine("Esto sucede ?");
            usuario.EditarSalario(cedula, decimal.Parse(Request.Form["nSalario"]));
        }
        else if (action == "editar_puesto")
        {
            usuario.EditarPuesto(cedula, Request.Form["puesto"]);
        }
        else if (action == "registrar")
        {
            // Crear una nueva instancia de Usuario con los datos del formulario
            Usuario nuevoUsuario = new Usuario
                {
                    Cedula = Request.Form["cedula"],
                    Nombre = Request.Form["nombre"],
                    Apellido1 = Request.Form["apellido1"],
                    Apellido2 = Request.Form["apellido2"],
                    Telefono = Request.Form["telefono"],
                    Correo = Request.Form["correo"],
                    Fecha_Nacimiento = DateTime.Parse(Request.Form["fecha_nacimiento"]),
                    Lugar_Residencia = Request.Form["lugar_residencia"],
                    Fecha_Ingreso = DateTime.Parse(Request.Form["fecha_ingreso"]),
                    Salario = decimal.Parse(Request.Form["salario"]),
                    Puesto = Request.Form["puesto"],
                    Departamento = Request.Form["departamento"],
                };
            nuevoUsuario.Password = nuevoUsuario.HashPassword(Request.Form["contrasena"]);
            // Llamar al método para registrar el usuario
            nuevoUsuario.RegistrarUsuario();
        }
        else if (action == "registrar_rol")
        {
            string rol = Request.Form["nombreRol"];
            string[] accionesSeleccionadas = Request.Form["modulosAcciones"].ToString().Split(',');
            if (accionesSeleccionadas != null && accionesSeleccionadas.Length > 0)
            {
                foreach (string seleccion in accionesSeleccionadas)
                {
                    // Separar el módulo de la acción
                    string[] partes = seleccion.Split(':');
                    if (partes.Length == 2)
                    {
                        string modulo = partes[0];
                        string accion = partes[1];

                        // Llamada al metodo para registrar el rol
                        usuario.RegistrarRol(rol, accion, modulo);
                    }
                }
            }
        }
        else if (action == "asignar_rol")
        {
            string cedulaRol= Request.Form["cedula"];
            string[] rolesSeleccionados = Request.Form["rolesSeleccionados"].ToString().Split(',');

            if (rolesSeleccionados != null && rolesSeleccionados.Length > 0)
            {
                foreach (string rol in rolesSeleccionados)
                {
                    usuario.AsignarRol(cedulaRol, rol);
                }
            }
        }
    }
}
<h2>Gestión de Usuarios</h2>
<div class="header-container-usuario">
    <!-- Botón para abrir el modal de agregar -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarModal">
        Agregar
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearRolModal">
        Crear Rol
    </button>
</div>
<div class="grid-table-usuarios">
    <!-- Cabeceras -->
    <div class="grid-header">Cedula</div>
    <div class="grid-header">Usuario</div>
    <div class="grid-header">Correo</div>
    <div class="grid-header">Puesto</div>
    <div class="grid-header">Acciones</div>

    <!-- Datos -->
    @foreach (var cot in listaUsuarios)
    {
        <div class="grid-item">@cot.Cedula</div>
        <div class="grid-item">@cot.Nombre @cot.Apellido1</div>
        <div class="grid-item">@cot.Correo</div>
        <div class="grid-item">@cot.Puesto</div>
        <div class="grid-item">
        <!-- Formulario para el botón editar salario-->
        <button type="button" class="btn btn-primary" name="action" value="editarSalarioModal" data-bs-toggle="modal" data-bs-target="#editarSalarioModal-@cot.Cedula">
            Editar Salario
        </button>
        <!-- Formulario para el botón editar puesto -->
        <button type="submit" class="btn btn-primary" name="action" value="editarPuestoModal" data-bs-toggle="modal" data-bs-target="#editarPuestoModal-@cot.Cedula">
            Editar Puesto
        </button>

        <!-- Formulario para el botón asignar rol -->
        <button type="submit" class="btn btn-primary" name="action" value="asignarRol" data-bs-toggle="modal" data-bs-target="#asignarRolModal-@cot.Cedula">
            Asignar Rol
        </button>
        </div>
        //Editar Salario
        <div class="modal fade" id="editarSalarioModal-@cot.Cedula" tabindex="-1" aria-labelledby="editarSalarioModallLabel-@cot.Cedula" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarSalarioModalLabel-@cot.Cedula">Editar Usuario - @cot.Nombre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="EditarSalario">
                            <input type="hidden" name="cedula" value="@cot.Cedula" />

                            <label>Ingrese el nuevo salario</label>
                            <input type="number" name="nSalario" class="form-control" />

                            <button type="submit" class="btn btn-primary mt-3" name="action" value="editar_salario">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        //Modal de editar puesto
        <div class="modal fade" id="editarPuestoModal-@cot.Cedula" tabindex="-1" aria-labelledby="editarPuestoModallLabel-@cot.Cedula" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarPuestoModalLabel-@cot.Cedula">Editar Usuario - @cot.Nombre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="AsignarRol">
                            <input type="hidden" name="cedula" value="@cot.Cedula" />

                            <label>Ingrese el nuevo puesto</label>
                            <select name="puesto" id="puesto" class="form-control">
                                <option value="">Seleccione un puesto</option>
                                @foreach (var puesto in listaPuestos)
                                {
                                    <option value="@puesto">@puesto</option>
                                }
                            </select>

                            <button type="submit" class="btn btn-primary mt-3" name="action" value="editar_puesto">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        //Modal de asisgnar rol
        <div class="modal fade" id="asignarRolModal-@cot.Cedula" tabindex="-1" aria-labelledby="asignarRolModalLabel-@cot.Cedula" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="asignarRolModalLabel-@cot.Cedula">Asignar Roles - @cot.Nombre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="AsignarRol">
                            <input type="hidden" name="cedula" value="@cot.Cedula" />

                            <label>Elija los roles a asignar</label>
                            <div>
                                @foreach (var rol in listaRoles)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="rolesSeleccionados" value="@rol" id="rol-@rol-@cot.Cedula" />
                                        <label class="form-check-label" for="rol-@rol-@cot.Cedula">@rol</label>
                                    </div>
                                }
                            </div>

                            <button type="submit" class="btn btn-primary mt-3" name="action" value="asignar_rol">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    }
</div>

<h2>Listado de Usuario por Rol</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Rol</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in roleUsuario)
            {
                <tr>
                    <td>@rol.Nombre_Rol</td>
                    <td>@rol.Nombre_Usuario</td>
                </tr>
            }
        </tbody>
    </table</div>

<!-- Modal para agregar usuario -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Agregar">
                    <label>Cédula:</label>
                    <input type="text" name="cedula" class="form-control" />

                    <label>Nombre:</label>
                    <input type="text" name="nombre" class="form-control" />

                    <label>Primer Apellido:</label>
                    <input type="text" name="apellido1" class="form-control" />

                    <label>Segundo Apellido:</label>
                    <input type="text" name="apellido2" class="form-control" />

                    <label>Teléfono:</label>
                    <input type="text" name="telefono" class="form-control" />

                    <label>Correo:</label>
                    <input type="email" name="correo" class="form-control" />

                    <label>Contraseña:</label>
                    <input type="password" name="contrasena" class="form-control" />

                    <label>Fecha Nacimiento</label>
                    <input type="date" name="fecha_nacimiento" class="form-control" />

                    <label>Lugar de Residencia:</label>
                    <input type="text" name="lugar_residencia" class="form-control" />

                    <label>Fecha de Ingreso</label>
                    <input type="date" name="fecha_ingreso" class="form-control" />

                    <label>Salario:</label>
                    <input type="number" name="salario" class="form-control" />


                    <label for="departamento">Departamento:</label>
                    <select name="departamento" id="departamento" class="form-control">
                        <option value="">Seleccione un departamento</option>
                        @foreach (var departamento in listaDepartamentos)
                        {
                            <option value="@departamento">@departamento</option>
                        }
                    </select>

                    <label for="puesto">Puesto:</label>
                    <select name="puesto" id="puesto" class="form-control">
                        <option value="">Seleccione un puesto</option>
                        @foreach (var puesto in listaPuestos)
                        {
                            <option value="@puesto">@puesto</option>
                        }
                    </select>


                    <button type="submit" class="btn btn-primary mt-3" name="action" value="registrar">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para crear un rol -->
<div class="modal fade" id="crearRolModal" tabindex="-1" aria-labelledby="crearRolModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearRolModalLabel">Crear Nuevo Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Agregar">
                    <!-- Input para el nombre del rol -->
                    <label>Nombre Rol:</label>
                    <input type="text" name="nombreRol" class="form-control" />

                    <!-- Loop para mostrar los módulos -->
                    @foreach (var modulo in listaModulos)
                    {
                        <div class="mb-3">
                            <!-- Título del módulo -->
                            <label for="modulo">@modulo:</label>

                            <!-- Lista de acciones compartidas por todos los módulos -->
                            <div>
                                @foreach (var accion in listaAcciones)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="modulosAcciones" value="@modulo:@accion" id="@modulo-@accion" />
                                        <label class="form-check-label" for="@modulo-@accion">@accion</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    <!-- Botón para guardar -->
                    <button type="submit" class="btn btn-primary mt-3" name="action" value="registrar_rol">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(Mensaje))
{
    <div class="alert alert-info">
        @Mensaje
    </div>
}